@inject StateContainer state

@if (state.BreadCrumbItems != null && state.BreadCrumbItems.Any())
{
    <div id="BreadCrumb">
        <div id="Burger">
            <i class="fa fa-bars"></i>
        </div>
        <div id="BreadCrumbLeftCon">
            @foreach (var bread in state.BreadCrumbItems)
            {
                if (bread.Link == "")
                {
                    <span>
                        @state.Localized(bread.Text)
                    </span>

                }
                else
                {
                    <NavLink href=@bread.Link>
                        @state.Localized(bread.Text)
                    </NavLink>
                }
            }
        </div>
    </div>
}

