@using Newtonsoft.Json
@*@using Newtonsoft.Json*@
@inherits LayoutComponentBase
@inject HttpClient Http
@inject StateContainer state
@inject Blazored.LocalStorage.ILocalStorageService localStorage
<div class="page">


    <NavMenu />
    <div class="main">

        <BreadCrumb />
        <div class="main-content">
            @Body
        </div>
    </div>
</div>


@code {

    protected override async Task OnInitializedAsync()
    {
        state.OnChange += StateHasChanged;
    }

  
}
