@using Newtonsoft.Json
@*@using Newtonsoft.Json*@
@inherits LayoutComponentBase
@inject HttpClient Http
@inject StateContainer state
@inject Blazored.LocalStorage.ILocalStorageService localStorage
<div id="MainContainer">

    <div id="LeftNavContainer" class="@(state.menuOpen)">
        <NavMenu />
    </div>

    <div id="MainAreaContainer">
        <div id="MainArea">
            <BreadCrumb />
            @Body
        </div>
    </div>

</div>


@code {

    protected override async Task OnInitializedAsync()
    {
        state.OnChange += StateHasChanged;
        state.OnBreadCrumbChange += StateHasChanged;
    }


}
